<nav
    class="bg-gray-100 shadow-md fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-darker dark:bg-darker dark:text-white lg:text-lg xl:text-xl">
    <div class="max-w-7xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a routerLink="/home" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="images/shopping-cart-svg.svg" class="h-8" alt="FreshCart Logo">
            <span class="self-center text-3xl font-semibold whitespace-nowrap">Fresh<span
                    class="text-main">Cart</span></span>
        </a>
        <div class="flex min-navBreak:order-2 space-x-3 min-navBreak:space-x-2 rtl:space-x-reverse dark:text-white">
            <button (click)="toggleMode()" class="me-3">
                @if (mode == 'dark') {
                <i #dark class="fa-solid fa-circle-half-stroke fa-lg cursor-pointer"></i>
                <i #light class="fa-circle-half-stroke fa-lg cursor-pointer" style="color: #ffe380;"></i>
                }
                @else {
                <i #dark class="fa-circle-half-stroke fa-lg cursor-pointer"></i>
                <i #light class="fa-solid fa-circle-half-stroke fa-lg cursor-pointer" style="color: #ffe380;"></i>
                }
            </button>
            @if(!isLoggedIn){
            <button routerLink="/login" type="button"
                class="text-gray-600 dark:text-gray-100 bg-transparent border-2 border-main transition-color duration-300 hover:bg-main hover:text-white font-medium rounded-lg text-lg md:text-sm px-3 py-2 text-center cursor-pointer">Login
                In</button>
            <button routerLink="/signup" type="button"
                class="text-gray-600 dark:text-gray-100 bg-transparent border-2 border-main transition-color duration-300 hover:bg-main hover:text-white font-medium rounded-lg text-lg md:md:text-sm px-3 py-2 text-center cursor-pointer">Register</button>
            }
            @if(isLoggedIn){
            <button (click)="logOut()" type="button"
                class="text-gray-600 dark:text-gray-100 bg-transparent border-2 border-red-400 transition-color duration-300 hover:bg-red-400 hover:text-white font-medium rounded-lg text-lg md:md:text-sm px-3 py-2 text-center cursor-pointer">Log
                Out</button>
            }
            <button data-collapse-toggle="navbar-sticky" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg min-navBreak:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
                aria-controls="navbar-sticky" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
        </div>
        <div class="items-center justify-between hidden w-full min-navBreak:flex min-navBreak:w-auto min-navBreak:order-1"
            id="navbar-sticky">
            <ul
                class="flex flex-col items-center p-4 min-navBreak:p-0 mt-4 font-medium rounded-lg min-navBreak:space-x-4 lg:space-x-6 rtl:space-x-reverse min-navBreak:flex-row min-navBreak:mt-0 min-navBreak:border-0">
                <li class="md:mx-0 lg:mx-3 xl:mx-6">
                    <a routerLink="/home" routerLinkActive="text-main dark:text-main"
                        class="flex justify-center relative py-1.5 px-2 text-gray-600 dark:text-gray-100 bg-transparent transition-all duration-300 hover:text-main focus:outline focus:outline-main rounded-sm"
                        aria-current="page">Home <div routerLinkActive="active"
                            class="absolute w-[0%] h-[1px] bg-main transition-all duration-500 bottom-1"></div></a>
                </li>
                <li class="md:mx-0 lg:mx-3 xl:mx-6">
                    <a routerLink="/products" routerLinkActive="text-main dark:text-main"
                        class="flex justify-center relative py-1.5 px-2 text-gray-600 dark:text-gray-100 bg-transparent transition-all duration-300 hover:text-main focus:outline focus:outline-main rounded-sm"
                        aria-current="page">Products <div routerLinkActive="active"
                            class="absolute w-[0%] h-[1px] bg-main transition-all duration-500 bottom-1"></div></a>
                </li>
                <li class="md:mx-0 lg:mx-3 xl:mx-6">
                    <a routerLink="/brands" routerLinkActive="text-main dark:text-main"
                        class="flex justify-center relative py-1.5 px-2 text-gray-600 dark:text-gray-100 bg-transparent transition-all duration-300 hover:text-main focus:outline focus:outline-main rounded-sm"
                        aria-current="page">Brands <div routerLinkActive="active"
                            class="absolute w-[0%] h-[1px] bg-main transition-all duration-500 bottom-1"></div></a>
                </li>
                <li class="md:mx-0 lg:mx-3 xl:mx-6">
                    <a routerLink="/categories" routerLinkActive="text-main dark:text-main"
                        class="flex justify-center relative py-1.5 px-2 text-gray-600 dark:text-gray-100 bg-transparent transition-all duration-300 hover:text-main focus:outline focus:outline-main rounded-sm"
                        aria-current="page">Categories <div routerLinkActive="active"
                            class="absolute w-[0%] h-[1px] bg-main transition-all duration-500 bottom-1"></div></a>
                </li>
                @if(isLoggedIn){
                <li class="md:mx-0 lg:mx-3 xl:mx-6">
                    <button routerLink="/cart" routerLinkActive="text-main dark:text-main" type="button"
                        class="flex cursor-pointer justify-center relative py-4 px-2 text-gray-600 dark:text-gray-100 bg-transparent transition-all duration-300 hover:text-main focus:outline focus:outline-main rounded-sm">
                        <i class="fa-solid fa-cart-shopping fa-lg"></i>
                        <div routerLinkActive="active"
                            class="absolute w-[0%] h-[1px] bg-main transition-all duration-500 bottom-0"></div>
                        <span class="sr-only">Notifications</span>
                        <div
                            class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900">
                            {{cartItemNum}}</div>
                    </button>

                </li>
                }
                <li class="flex flex-row items-center">
                    <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" href="#"
                        class="cursor-pointer block py-1.5 px-2 text-gray-600 dark:text-gray-100 bg-transparent transition-all duration-300 hover:text-main focus:outline focus:outline-main rounded-sm"
                        aria-current="page">Socials <svg class="w-2.5 h-2.5 inline" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4" />
                        </svg></button>

                    <!-- Socials dropdown menu -->
                    <div id="dropdownNavbar"
                        class="z-10 hidden font-normal bg-gray-100 rounded-2xl shadow-sm w-36 dark:bg-darker">
                        <ul class="text-center divide-y divide-gray-200 text-sm text-gray-600 dark:divide-[#3c3944] dark:text-white"
                            aria-labelledby="dropdownLargeButton">
                            <li>
                                <a href="#"
                                    class="block px-4 py-2 transition-all duration-300 hover:bg-white hover:text-main dark:hover:bg-[#45434d] first:rounded-t-2xl"><i
                                        class="fa-brands fa-instagram fa-lg"></i></a>
                            </li>
                            <li>
                                <a href="#"
                                    class="block px-4 py-2 transition-all duration-300 hover:bg-white hover:text-main dark:hover:bg-[#45434d]"><i
                                        class="fa-brands fa-tiktok fa-lg"></i></a>
                            </li>
                            <li>
                                <a href="#"
                                    class="block px-4 py-2 transition-all duration-300 hover:bg-white hover:text-main dark:hover:bg-[#45434d]"><i
                                        class="fa-brands fa-twitter fa-lg"></i></a>
                            </li>
                            <li>
                                <a href="#"
                                    class="block px-4 py-2 transition-all duration-300 hover:bg-white hover:text-main dark:hover:bg-[#45434d]"><i
                                        class="fa-brands fa-linkedin fa-lg"></i></a>
                            </li>
                            <li>
                                <a href="#"
                                    class="block px-4 py-2 transition-all duration-300 hover:bg-white hover:text-main dark:hover:bg-[#45434d] last:rounded-b-2xl"><i
                                        class="fa-brands fa-youtube fa-lg"></i></a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>