<div class="signInUI my-12 w-[80%] mx-auto flex gap-4 flex-col lg:flex-row justify-center items-center">
    <div class="w-full order-2 lg:order-1 lg:w-1/2">
        <img class="w-full 2xl:w-2/3 2xl:mx-auto" src="images/cash-payment.svg" alt="SingInSvg">
    </div>
    <div
        class="w-full order-1 lg:order-2 lg:w-1/2 mx-auto bg-gray-100 dark:bg-darker rounded-xl px-12 py-6 flex flex-col justify-center">
        <h1 class="text-4xl font-medium ">Shipping Form:<span class="text-main"> Cash Payment</span></h1>
        <form class=" my-8 flex flex-col gap-8" [formGroup]="addressForm" (ngSubmit)="submitForm()">
            <div class="inputGroup">
                <div class="relative">
                    <input type="text" id="details" formControlName="details"
                        class="block px-2.5 pb-2.5 pt-4 w-full text-md text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-main focus:outline-none focus:ring-0 focus:border-main peer"
                        placeholder=" " />
                    <label for="details"
                        class="absolute rounded-lg text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-gray-100 dark:bg-darker px-2 peer-focus:px-2 peer-focus:text-mainborder-main peer-focus:dark:text-mainborder-main peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Address
                        Details</label>
                </div>
                <!-- validation details -->
                @if (addressForm.get('details')?.errors && addressForm.get('details')?.touched) {
                <div class="errorMsg text-red-700 mt-2">
                    @if (addressForm.get('details')?.getError('required')) {
                    <p class="capitalize">details are required</p>}
                    @if (addressForm.get('details')?.getError('details')) {
                    <p class="capitalize">details must be valid</p>
                    }
                </div>}
            </div>

            <div class="inputGroup">
                <div class="relative">
                    <input type="text" id="phone" formControlName="phone"
                        class="block px-2.5 pb-2.5 pt-4 w-full text-md text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-main focus:outline-none focus:ring-0 focus:border-main peer"
                        placeholder=" " />
                    <label for="phone"
                        class="absolute rounded-lg text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-gray-100 dark:bg-darker px-2 peer-focus:px-2 peer-focus:text-mainborder-main peer-focus:dark:text-mainborder-main peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Phone</label>
                </div>
                <!-- validation phone -->
                @if (addressForm.get('phone')?.errors && addressForm.get('phone')?.touched) {
                <div class="errorMsg text-red-700 mt-2">
                    @if (addressForm.get('phone')?.getError('required')) {
                    <p class="capitalize">phone number is required</p>}
                    @if (addressForm.get('phone')?.getError('pattern')) {
                    <p class="capitalize">phone number must be valid</p>
                    }
                </div>}
            </div>

            <div class="inputGroup">
                <select id="city" formControlName="city"
                    class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main focus:border-main block w-full p-2.5 bg-transparent dark:bg-darker dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-main dark:focus:border-main">
                    <option class="" disabled selected value="">Choose a city</option>
                    @for (city of egyptianCities; track $index) {
                    <option [value]="city">{{city}}</option>
                    }
                </select>
                @if(addressForm.get('city')?.errors && addressForm.get('city')?.touched){
                <div class="errorMsg text-red-700 mt-2">
                    @if (addressForm.get('city')?.value === '' && addressForm.get('city')?.touched) {
                    <p class="capitalize">city is required</p>}
                </div>}
            </div>

            @if(errorMsg){
            <p class="capitalize text-center text-red-700">{{errorMsg}}</p>
            }
            <button
                class="capitalize cursor-pointer outline-2 outline-main hover:bg-main hover:text-white rounded-xl px-0.5 py-3 transition-all duration-400">Place Order
                @if(isLoading){
                <i class="fa-solid fa-spin fa-spinner"></i> }</button>
        </form>
    </div>
</div>